# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!terraform.tfvars.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
mlflow-env/
mlflow-simple/
mlflow-stable/
mlflow-final/

# Airflow
airflow/logs/
airflow/data/*.csv
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
